:root {
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --ff-sans: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-xl: 1.5rem;
  --fs-md: 0.875rem;
  --fs-sm: 0.75rem;

  --px-sm: 1rem;
  --py-sm: 1.25rem;

  --py-md: 1rem;
  --px-md: 1rem;

  --px-lg: 2rem;
  --py-lg: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: var(--fw-regular);
  line-height: 1.7;
  font-family: var(--ff-sans);
  color: var(--text-color-secondary);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
  line-height: 1.25;
  color: var(--text-color-primary);
}

body {
  background-color: var(--background-color);
}

.desktop-only {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--brand-color);
    text-decoration: underline;

    & img {
      border-color: var(--brand-color);
    }

    & svg path {
      fill: var(--brand-color);
    }
  }
}


@media (width >=47em) {
  :root {
    --fs-xl: 2rem;
  }

  .desktop-only {
    display: initial;
  }
}