main {
  display: flex;
  justify-content: center;

  & div {

    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    & img {
      height: 20.5rem;
      width: 20.5rem;
    }

    @media (width >=40em) {
      gap: 1.5rem;

      & img {
        height: 17.875rem;
        width: 17.875rem;
      }
    }
  }
}